html, body {
    margin: 0px;
}

select:required:invalid {
    color: rgb(161, 161, 161);
}
option[value=""][disabled] {
    display: none;
}
option {
    color: #000;    
}
select {
    width: 75px;
    height: 30px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 500;
    margin-right: 5px;
    border-radius: 5px;
}

input{
    width: 230px;
    height: 28px;
    border-radius: 5px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 500;
    border-style: none;
    padding-left: 5px;
}
input::placeholder{
    color: rgb(161, 161, 161);
}
textarea{
    width: 230px;
    height: 100px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
}
textarea::placeholder{
    color: rgb(161, 161, 161);
}
p{
    color: whitesmoke;
    font-size: 12px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}
h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 35px;
}
h2 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 23px;
}

.entry-container {
    width: 100%;
    height: 950px;       
}
.imageBackground{    
    background-image: url('../images/doctorsMD.jpg');
    filter: blur(9px);
    background-size: cover;
    width: 100%;
    height: 950px;
    position: absolute;
    z-index: -4;
}

/* ************ Recuadro movible ********** */
.move-cover-SignIn {
    width: 450px; 
    height: 775px; 
    background: #ff7315;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 120px;
    left: 702px;
    position: relative;
    z-index: 2;
    animation: crossRight 1s forwards;
}
.move-cover-SignIn h1 {
    font-weight: 500;
    animation: textoStop-SignIn 1s forwards;
}
.move-cover-SignIn h2 {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    animation: textoStop-SignIn 1s forwards;
}
.move-cover-SignIn button {
    width: 150px;
    height: 40px;
    font-family: 'Montserrat';
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #ff7315;
    border-style: none;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 40px;
}
.move-cover-SignIn button:hover{
    background-color: white;
    color: #ff7315;
}

/* ************ RECUADRO AZUL ********** */
.form-container-SignIn {
    width: 50%;
    height: 775px;
    background: rgb(0,0,77,0.6);
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 20px;
    font-family: 'Raleway';
    color: white;
}


/* ************ Zona de Registro ********** */
.seccion-Registro {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-left: 50px;
    animation: apareceForm-SignIn 1s forwards;
}
.seccion-Registro h1 {
    margin-top: -20px;    
}
.Ingresar-cuenta{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fila-1 {
    width: fit-content;
    margin: 0px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.fila-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -20px;
     /*margin-left: 95px;*/
}
.fecha-nacimiento-Posicion {
    height: 120px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.dia-mes-año-Posicion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fila-3{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -40px;    
}
.sexo-user {
    margin-right: 30px ;   
}
.sexo-user select {
    width: 100px;
}
.genero-user select {
    width: 100px;
}
.fila-4{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -20px;
}
.fila-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btn-enviar button{
    height: 40px;
    width: 130px;
    border-radius: 15px;
    border-style: none;
    background: rgb(250,125,0);
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;    
    cursor: pointer;
}
.btn-enviar button:hover{
    background: rgb(250, 163, 76);
}


@keyframes crossRight {
    0%{
        transform: translateX(-400px);
        border-radius: 0px 0px 0px 0px;
    }
    100%{
        transform: translateX(0px); 
        border-radius: 0px 20px 20px 0px;
    }
}
@keyframes textoStop-SignIn {
    0%{
        transform: translateX(100px);
        color: rgb(255,255,255, 0);
    }
    100%{
        transform: translateX(0px); 
    }
}

@keyframes apareceForm-SignIn {
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes apareceFormMovil-SignIn {
    0%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0px); 
    }
}

/* Configuración Lap Top */
@media (max-width: 1367px) and (max-height:769px) {
    .entry-container {
        height: 700px;       
    }
    .imageBackground{ 
        width: 100%;
        height: 700px;
    }
    .move-cover-SignIn {
        height: 550px;
        top: 80px;
    }
    .form-container-SignIn {
        width: 70%;
        height: 550px;
        top: 80px;
    }
    .seccion-Registro h1 {
        margin-top: 0px;    
    }
    .fila-1 {
        margin-top: -10px;
    }
    .fila-2 {
        margin-top: -20px;
        margin-bottom: 0px;
    }
    .fila-3 {
        margin-top: -60px;
        margin-bottom: 0px;
    }
    .fila-4 {
        margin-top: -30px;
        margin-bottom: 0px;
    }
    .btn-enviar button{
        margin-top: -10px ;
    }    
}

/* Configuración iPad Pro*/
@media (max-width: 1025px) and (max-height: 1367px) {  
    .move-cover-SignIn {
        width: 400px; 
        left: 560px;        
    } 
    .form-container-SignIn {
        width: 85%;
        left: 80px;        
    }
}

/* Configuración iPad */
@media (max-width: 769px) {
    select {
        width: 98px;
        height: 40px;
        font-size: 18px;
    }
    input{
        width: 300px;
        height: 35px;        
        font-size: 18px;        
        padding-left: 5px;
        margin-top: 10px;
    }
    p{
        color: whitesmoke;
        font-size: 16px;
        font-family: 'Raleway';
        letter-spacing: 2px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .move-cover-SignIn {
        height: 200px;
        width: 620px;
        left: 75px;
        top: 80px;
        border-radius: 20px 20px 0px 0px;
        animation: none;
    }
    .move-cover-SignIn h1 {
        margin-top: 10px;
        font-weight: 500;
        animation: textoStop-LogIn 1s forwards;
    }
    .move-cover-SignIn h2 {
        margin-top: -10px;
        text-align: center;
        animation: textoStop-LogIn 1s forwards;
    }
    .move-cover-SignIn button {
        width: 150px;
        height: 40px;
        margin-top: 10px;
    }
    .form-container-SignIn {
        width: 620px;
        height: 80%;
        top: 80px;
        left: 75px;
    }
    .seccion-Registro {
        width: 500px;    
        margin-top: 250px;    
        margin-left: 60px;  
        animation: apareceFormMovil-SignIn 1s forwards;
    }
    .seccion-Registro h1{
        margin-top: -75px;
    }
    .btn-enviar button {
        height: 50px;
        width: 150px;        
        font-size: 20px;
    }
}

/* Configuración Nokia N9 480 */
@media (max-width: 480px) {
    .entry-container {
        height: 1050px;       
    }
    select {
        width: 122px;
        height: 50px;
        font-size: 23px;
    }
    input{
        width: 370px;
        height: 50px;        
        font-size: 23px;
    }
    p{
        font-size: 18px;        
        margin-top: 15px;
    }
    .imageBackground{    
        background: white;
        background-image: none;        
    }
    .move-cover-SignIn {
        width: 98%;
        height: 20%;
        left: 5px;
        top: 65px;
    }
    .move-cover-SignIn h1 {
        margin-top: 0px;
        font-size: 32px;
    }
    .move-cover-SignIn h2 {
        font-size: 22px;
        margin-top: 0px; 
    }
    .move-cover-SignIn button {
        font-size: 23px;
        width: 220px;
        height: 50px;
        margin-top: 5px;
    }
    .form-container-SignIn {
        width: 98%;
        height: 90%;
        background: rgb(0,0,60,1);
        left: 5px;
        top: 250px;
    }
    .seccion-Registro {
        width: 480px;    
        margin-top: 80px;    
        margin-left: 10px;
    }
    .fila-1 {
        margin-top: 10px;
    }
    .fila-2 {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .fila-3 {
        margin-top: -30px;
        margin-bottom: 0px;
    }
    .fila-4 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .sexo-user select {
        width: 170px;
    }
    .genero-user select {
        width: 170px;
    }
    .btn-enviar button {
        height: 60px;
        width: 210px;        
        font-size: 23px;
        margin-top: 30px;
    }
}

/* Configuración iPhone Plus */
@media (max-width: 415px) {
    .entry-container {
        height: 980px;       
    }
    .move-cover-SignIn {
        height: 15%;
        top: 60px;
    }
    .move-cover-SignIn h1 {
        font-size: 32px;
    }
    .move-cover-SignIn h2 {
        font-size: 20px;
    }
    .move-cover-SignIn button {
        width: 160px;
        font-size: 20px;
        height: 40px;        
    }
    .form-container-SignIn {
        width: 98%;
        height: 105%;
        background: rgb(0,0,60,1);
        left: 5px;
        top: 190px;
    }
    .seccion-Registro {
        margin-top: 100px;    
        margin-left: 8px;
    }
}

/* Configuración iPhone X  375 */
@media (max-width: 376px){
    .entry-container {
        height: 1020px;
        margin-left: -1px;     
    }
    select {
        width: 30px;
        height: 40px;
        font-size: 23px;
    }
    input{
        width: 350px;
        height: 40px;        
        font-size: 23px;
    }
    p{
        font-size: 18px;        
        margin-top: 15px;
    }
    .move-cover-SignIn {
        width: 98%;
        left: 5px;
    }
    .form-container-SignIn {        
        left: 4px;
        top: 150px;
    }
    .form-container-SignIn h1 {
        font-size: 28px;
    }
    .sexo-user select {
        width: 160px;
        height: 40px;
    }
    .genero-user select {
        width: 160px;
        height: 40px;
    }
}

/* Configuración 6/7/8 375 */
@media (max-width: 376px) and (max-height: 667px) {
    .entry-container {
        height: 960px;
    }
    .form-container-SignIn {     
        height: 115%;   
        left: 4px;
        top: 190px;
    }
}

/* Configuración Galaxy Note II 360 */
@media (max-width: 360px) {
    .entry-container {
        height: 940px;
    }
    input{
        width: 293px;
        height: 40px;        
        font-size: 23px;
    }
    select {
        width: 97px;
        height: 40px;
        font-size: 23px;
    }    
    .move-cover-SignIn h2 {
        font-size: 20px;
    }
    .fila-1 {
        margin-top: 0px;
    }
    .sexo-user select {
        width: 130px;
        height: 40px;
    }
    .genero-user select {
        width: 130px;
        height: 40px;
    }
    .btn-enviar button {        
        margin-top: 20px;
    }
}

/* Configuración iPhone 5E 320 */
@media (max-width: 321px) { 
    .entry-container {
        height: 950px;
    }
    .move-cover-SignIn {
        left: 4px;
    }
    .move-cover-SignIn h1 {
        font-size: 28px;
    }
    .move-cover-SignIn h2 {
        font-size: 18px;
    }
    .form-container-SignIn {     
        height: 135%;   
        left: 3px;
        top: 180px;
    }

}